# dependencies
node_modules
dist
yarn.lock

# logs
*.log

# OS
.DS_Store

# IDE
.idea
*.swp
*.swo

# nix
.direnv/

# tokens
*.env
env.json
config.json

# db
*.db

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# pre-commit
.pre-commit-config.yaml
